<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
        <title>DHS Lab Databse Server</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="index_wrapper">
            <div class="index_box sources_button">
                <a style="text-decoration: none" href="/sources">
                <div>Sources</div>
                </a>
            </div>
            <div class="index_box samples_button">
                <a style="text-decoration: none" href="/samples">
                <div>Samples</div>
                </a>
            </div>
            <div class="index_box experiments_button">
                <a style="text-decoration: none" href="">
                <div>Experiments</div>
                </a>
            </div>
          </div>
    </body>
</html>