<html>
  <head>
    <title>Server-Driven Table</title>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <style>
      body {
        font-family: Sans-Serif;
      }
    </style>
  </head>
  {% include 'navbar.html' %}
  <body>
    <div>
      <h1>Sample Table</h1>
      <hr>
      <div id="sample_table"></div>
    </div>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>
      const updateUrl = (prev, query) => {
        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
      };

const grid = new gridjs.Grid({
        columns: [
          { id: 'usn', name: 'Sample ID', formatter: (_, row) => gridjs.html(`<a href="/sample_details/${row.cells[0].data}">${row.cells[0].data}</a>`) },
          { id: 'upn', name: 'UPN', formatter: (_, row) => gridjs.html(`<a href="/source_details/${row.cells[1].data}">${row.cells[1].data}</a>`) },
          { id: 'name', name: 'Sample Name' },
          { id: 'type', name: 'Type' },
          { id: 'collectiondate', name: 'Collection Date' },
          { id: 'time_point_weeks', name: 'Weeks since Diagnosis' }
        ],
        server: {
          url: '/api/sample_data',
          then: results => results.sample_data,
          total: results => results.total,
        },
        search: {
          enabled: true,
          server: {
            url: (prev, search) => {
              return updateUrl(prev, {search});
            },
          },
        },
        search: {
          enabled: true,
          server: {
            url: (prev, search) => {
              return updateUrl(prev, {search});
            },
          },
        },
        sort: {
          enabled: true,
          multiColumn: true,
          server: {
            url: (prev, columns) => {
              const columnIds = ['usn', 'upn', 'name', 'type', 'collectiondate', 'time_point_weeks'];
              const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
              return updateUrl(prev, {sort});
            },
          },
        },
        pagination: {
          enabled: true,
          server: {
            url: (prev, page, limit) => {
              return updateUrl(prev, {start: page * limit, length: limit});
            },
          },
        },
      }).render(document.getElementById('sample_table'));
    </script>
  </body>
</html>
